@import "~bootstrap";

body {
    background-color: #edf2f9;
}

#cartModal .modal-dialog {
    max-width: 60%;
}

.cart-table thead {
    background-color: #edf2f9;
}

.cart-table th {
    border-bottom: none;
}

.table.cart-table > :not(:last-child) > :last-child > * {
    border-bottom-color: #dee2e6;
}

.table.cart-table tfoot td {
    border-bottom: none;
}
